.mainFooter{
	text-align: center;
}

.formRegister{
	padding-left: 10px;
	cursor:pointer;
	display: block;
	width:500px;
	margin: 0 auto;
	margin-top: 2%;
	text-align:left;
	border: 1px solid;
	border-color: #bbb;
	border-radius: 5px;
}

.formLogin{
	padding-left: 10px;
	cursor:pointer;
	display: block;
	width:480px;
	margin: 0 auto;
	margin-top: 2%;
	text-align:left;
	border: 1px solid;
	border-color: #bbb;
	border-radius: 5px;
}

.boton {
	display: block;
	text-align: right;
	padding-right: 10px;
}

.titulo {
	text-align:center;
	color: #008CFD;
	font-style: italic;
	width: 1000px;
    height: 150px;
}

.tituloLogin {
	text-align:center;
	color: #008CFD;
	font-style: italic;
}

.containerHeader{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.topnav { 

	margin-top: 0; 
	display: flex; 
	width: 1250px; 
	height: 50px; 
	float: left; 
	align-items: center; 
	justify-content: center; 
	background-color: black; 
} 
 
.topnav a { 
	color: white; 
} 
 
.topnav span { 
	margin-left: 25px; 
	padding: 5px; 
	background-color: #fff; 
	color: #000; 
	border-radius: 10px; 
} 
 
.desconectar { 
	margin-left: 20px; 
	padding: 5px; 
	color: #000; 
}

.headerPadel {
	margin: 20px; 
	margin-left: 100px;
	margin-bottom: 0; 
	width: 750px; 
	height: 100px; 
	float: left;
}
 
.Bienvenida { 
	margin-bottom: 0; 
	width: 1250px; 
	height: 350px; 
	float: left; 
	background-image: url(../imagenes/fondoPadel.jpg); 
	background-repeat: no-repeat; 
	background-size: 1250px 350px; 
} 
 
.Bienvenida div { 
	width: 400px; 
	height: 250px; 
	float: right; 
	margin-top: 50px;
	margin-right: 100px;
 
} 
 
.Bienvenida h1 { 
	padding: 10px; 
	padding-bottom: 0; 
} 
 
.Bienvenida h5 { 
	padding: 10px; 
	padding-top: 0; 
} 
 
.Bienvenida p { 
	padding: 10px; 
	display: inline; 
	color: #fff; 
} 
 
.Bienvenida a { 
	display: inline; 
	color: yellow; 
	font-weight: bold;
	padding: 10px; 
} 
 
.contPartidos{ 
	margin: 10px; 
	margin-left: 70px;
	display: inline-block; 
	border: 1px solid; 
	border-color: #bbb; 
	border-radius: 5px; 
	width: 500px; 
	height: 150px; 
} 
 
.textPartidos{ 
	display: inline; 
	width: 340px; 
	height: 130px; 
	float: right; 
} 
 
.imgPartidos{ 
	display: inline; 
	width: 150px; 
	height: 148px; 
} 
 
.textPartidos h3 { 
	display: inline; 
	color: blue; 
	padding: 10px; 
} 
 
.textPartidos p { 
	display: inline-block; 
	color: grey; 
	font-size: small; 
	padding: 10px; 
}

.addPartido {
	display: flex;
	float: left;
	align-items: center; 
	justify-content: center;
	width: 500px;
}

#mainFooter {
	display: flex;
	align-items: center; 
	justify-content: center;
}

.botonAddEscuela{
	display: inline;
    float: left;
    margin-top: 6px;
}

.leyendaEscuelas{
	width: 160px;
    display: inline;
    float: left;
}